services:
  postgres:
    image: postgres:16
    container_name: postgres16
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: habitum
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
